// Box-sizing
*, *::after, *::before{
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box; 
    box-sizing: border-box;
}

// Função de Grid
@function grid($col, $offset: false){
    $width: $col / $cols * 100;
    //$result: calc(#{$width} - #{$gutter});
    $result: $width + %;
    @if $offset == offset {
        $width: $width + %; 
        $gutter: $gutter / 2;
        $result: calc(#{$width} + #{$gutter});
    }
    @return $result;
}

//Gerando as classes de Grid
@for $i from 1 through $cols{
    .grid-#{$i} {
        width: grid($i);
    }
} 

[class^="grid-"]{
    @include grid-structure;
}

//Gerando as classes de Offset
@for $i from 1 through $cols{
    .offset-#{$i} {
        margin-left: grid($i, offset);
        @extend %offset;
    }
}

@include device(sm){
    %offset{
        margin-left: 0px;
    }
}

.container{
    @include container;
}

.row{
    @include row;
}

.no-gutter{
    margin-left: 0px !important; 
    margin-right: 0px !important;
}