header{
    padding: 20px 0 30px 0;
    @include device(sm){        
        padding: 20px 0 10px 0;
    }
}

.logo{
    @include type-header-logo($color-secondary);
    @include device(sm){
        text-align: center;
    }
}

.subtitle{
    margin-top: 5px;
    @include type-subtitle($color-main, 16px);
    
    &::after, &::before{
        content: '';
        display: inline-block;
        background-color: $color-detail;
        height: 1px;
        width: 24px;
        margin-bottom: 4px;
    }

    @include device(sm){
        text-align: center;
    }
}

.search-box{
    width: 100%;
    border: solid 1px #000;
    border-radius: 5px;
    input[type="text"]{
        padding: 10px 0;
        width: 100%;
        border: none;
        border-radius: 5px;
        font-size: 16px;
    }

    @include device(sm){
        margin-top: 5px;
        margin-left: 15px;
    }
}

.search-icon{
    display: block;
    margin-top: 10px;
    margin-left: 10px;
    color: $color-secondary;
}

.shipping-info{
    @include type-subtitle($color-secondary, 21px);
    &-price{        
        @include type-subtitle($color-secondary, 16px);
    }
}

.bag-info{    
    margin-top: 5px;
    @include type-2($color-detail, 24px);
    &-qtd{
        color: $color-secondary;
    }
}