.menu{
    @include type-menu($color-text);
    background-color: $color-main;
    padding: 10px 0;
    
    ul{
        list-style: none;
        li{
            display: inline-block;
            padding: 15px 10px;
            @include device(sm){
                display: block;
                border-bottom: solid 1px #c6bed7;
            }
            a{
                color:white;
                text-decoration: none;
                padding: 15px 10px;
                @include device(lg){                    
                    &::after{
                        content:' ▼';
                        font-size: 12px;
                        margin-left: 5px;
                    }
                }
                @include device(sm){
                    width: 100%;
                }
            }
        }
    }
}

.btn{
    background-color: #422a53;
    border-radius: 5px;                
    &::after{
        content:'' !important;
    }
}

.sign-in{
    padding: 15px 0;
    margin: 0 10px;
    text-align: center;
    span{
        color: #8683bb;
    }
}

@include device(sm){
    .mobile-btn {
        display: block;
        color: $color-main;
        width: 36px;
        height: 36px;
        border-top: 4px solid;
        margin: 15px 15px;
        float: left;
        position: relative;
        cursor: pointer;
        -webkit-backface-visibility: hidden;
    }
    
    .mobile-btn::after, .mobile-btn::before {
        content: '';
        display: block;
        height: 4px;
        margin-top: 6px;
        background: currentColor;
        position: relative;
        transition: transform .2s ease;
    }
}