.title{
    @include type-2(#000, 40px);
    margin: 40px 0;
    
    @include device(sm){
        margin: 20px 0;
        text-align: center;
        margin-left: -10px;
    }
}

.product-info{
    margin-top: 40px;
    margin-bottom: 40px;
    @include device(sm){
        margin-left: 0;
        margin-right: 0;
    }
}

.img-product{
    width: 100%;
    margin: 0 auto;
}

.price-info{
    text-align: center;
    @include type-2(#000, 22px);
    @include device(sm){
        font-size: 18px;
    }
}

.price{
    color: $color-secondary;
    @include type-light;
}